*{
  margin: 0;
  padding: 0;
}
body{
  padding: 0 5px;
}
.head{
  background: lightblue;
}
.nav{
  background: lightgreen;
}
.main{
  background: lightpink;
}
.main article{
  text-align: center;
  border: 1px solid red;
}
.side{
  background: #eee;
}
.side article{
  border-bottom: 1px solid grey;
}

.foot{
  background: #ddd;
}
